//Colors
$primary-color: #eb2f64;
$primary-light: #FF3366;
$primary-dark: #BA265D;

$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #ccc;

$grey-dark-1: #333;
$grey-dark-2: #777;
$grey-dark-3: #999;

$black: #000;
$white: #fff;

//Other
$shadow-dark: 0 2rem 6rem rgba($black, .3);
$shadow-light: 0 2rem 5rem rgba($black, .06);
$line: 1px solid $grey-light-2;