.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $grey-light-2;
  box-shadow: $shadow-dark;

  @include respond(tab-land) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: $white;
  border-bottom: $line;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(phone) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.content {
  display: flex;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: $grey-dark-1;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: $white;
  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: $grey-light-1;
  border-bottom: $line;

  @include respond(tab-port) {
    padding: 3rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }
}

.description {
  background-color: $white;
  box-shadow: $shadow-light;
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @include respond(tab-port) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @include respond(phone) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}