//logo
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

//search box
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    order: 1;
    flex: 0 0 100%;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $grey-light-2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;

    @include respond(phone) {
      width: 60%;
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: $grey-light-3;

      @include respond(phone) {
        width: 80%;
      }
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $grey-light-4;
    }
  }

  &__input:focus+&__button {
    background-color: $grey-light-3;
  }

  &__button {
    border: none;
    background-color: $grey-light-2;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $grey-dark-3;
  }
}

//user nav
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  &>* {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &>*:hover {
    background-color: $grey-light-2;
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: $grey-dark-2;
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: $primary-color;
    color: $white;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

//Side navigation
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @include respond(tab-port) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: .5rem;

      @include respond(tab-port) {
        margin-bottom: 0;
      }
    }

    @include respond(tab-port) {
      flex: 1;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $primary-color;
    transform: scaleY(0);
    transition: transform .2s,
      width .4s cubic-bezier(1, 0, 0, 1) .2s,
      background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: $primary-light;
  }

  &__link:link,
  &__link:visited {
    color: $grey-light-1;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;

    @include respond(tab-port) {
      justify-content: center;
      padding: 2rem;
    }

    @include respond(phone) {
      flex-direction: column;
      padding: 1.5rem .5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @include respond(phone) {
      margin-right: 0;
      margin-bottom: 7px;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

//Legal text
.legal {
  font-size: 1.2rem;
  color: $grey-light-4;
  text-align: center;
  padding: 2.5rem;

  @include respond(tab-port) {
    display: none;
  }
}

//Gallery
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    height: auto;
    display: block;
  }
}

//Overview

.overview {
  display: flex;
  align-items: center;
  border-bottom: $line;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @include respond(phone) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: $primary-color;
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__rating {
    background-color: $primary-color;
    color: $white;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
      padding: 0 1.5rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

    @include respond(phone) {
      font-size: .5rem;
    }
  }
}

//button
.btn-inline {
  border: none;
  color: $primary-color;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  & span {
    margin-left: 3px;
  }

  &:hover {
    color: $grey-dark-1;

    span {
      margin-left: 8px;
      transition: margin-left .2s;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

//Paragraph
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

//List
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: $line;
  border-bottom: $line;

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    //Older browsers
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;

    //Newer browsers 
    @supports (-webkit-mask-image: url() or (mask-image: url())) {
      background-color: $primary-color;
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }

  }
}


//recommend
.recommend {
  font-size: 1.3rem;
  color: $grey-dark-3;
  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid $white;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

//Reviews
.review {
  background-color: $white;
  box-shadow: $shadow-light;
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @include respond(tab-port) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
  }


  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: $grey-dark-3;
  }

  &__rating {
    color: $primary-color;
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: $grey-light-2;
    font-family: sans-serif;
    z-index: 1;
  }
}

//Call to action
.cta {
  padding: 3.5rem 0;
  text-align: center;

  @include respond(tab-port) {
    padding: 2.5 0;
  }

  &__book-now {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, $primary-light, $primary-dark);
  color: $white;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &>* {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }

  &:hover {
    background-image: linear-gradient(to left, $primary-light, $primary-dark);
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }

}