*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  //1 rem = 10px; 10px/16px = 62.5%
  font-size: 62.5%;
  /*10px root font size*/
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 50%;
  }
}

body {
  background-image: linear-gradient(to right bottom,
      $primary-light,
      $primary-dark);
  background-size: cover;
  background-repeat: no-repeat;
}